<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

      
h1{
      color: white;
        
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: italic;
      font-variation-settings: "slnt" 0;
        
      text-align: center;
}

.background-top{
      background: rgb(158,176,147);
      background: linear-gradient(90deg, rgba(158,176,147,1) 0%, rgba(132,169,140,1) 25%, rgba(82,121,111,1) 50%, rgba(53,79,82,1) 75%, rgba(47,62,70,1) 100%);
      padding-top: 30px;
      padding-bottom: 30px;
}


body{
      margin: 0px;
}



