.background-top{
      background: rgb(158,176,147);
      background: linear-gradient(90deg, rgba(158,176,147,1) 0%, rgba(132,169,140,1) 25%, rgba(82,121,111,1) 50%, rgba(53,79,82,1) 75%, rgba(47,62,70,1) 100%);
      padding-top: 30px;
      padding-bottom: 30px;
}

body {
  margin: 0px;
}




